<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap uap2 uap10 rescap desktop4 desktop5 com">

  <Identity
    Name="run.rosie.zinnia.contextmenu"
    ProcessorArchitecture="neutral"
    Publisher="__PUBLISHER_DN__"
    Version="__PACKAGE_VERSION__" />

  <Properties>
    <DisplayName>Zinnia</DisplayName>
    <PublisherDisplayName>BurntToasters</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <!-- Required for Add-AppxPackage -ExternalLocation (0x80073D2E without this). -->
    <uap10:AllowExternalContent>true</uap10:AllowExternalContent>
  </Properties>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>

  <Applications>
    <Application
      Id="ZinniaContextMenu"
      Executable="zinnia.exe"
      uap10:TrustLevel="mediumIL"
      uap10:RuntimeBehavior="win32App">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="Zinnia"
        Description="Zinnia File Explorer context menu"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent" />
      <Extensions>
        <!-- These associations make extension-specific modern-menu ItemTypes
             resolvable without taking over users' default archive app. -->
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="zinnia-archives">
            <uap:SupportedFileTypes>
              <uap:FileType>.7z</uap:FileType>
              <uap:FileType>.zip</uap:FileType>
              <uap:FileType>.tar</uap:FileType>
              <uap:FileType>.gz</uap:FileType>
              <uap:FileType>.tgz</uap:FileType>
              <uap:FileType>.bz2</uap:FileType>
              <uap:FileType>.tbz2</uap:FileType>
              <uap:FileType>.xz</uap:FileType>
              <uap:FileType>.txz</uap:FileType>
              <uap:FileType>.001</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <!-- Keep exactly one wildcard verb. Registering Extract here too makes
                 Explorer add an app-attributed Zinnia flyout around this command's
                 own Zinnia flyout, producing the broken Zinnia > Zinnia menu. -->
            <desktop5:ItemType Type="*">
              <desktop5:Verb Id="ZinniaRoot" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5C" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb Id="ZinniaRootDir" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5C" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory\Background">
              <desktop5:Verb Id="ZinniaRootBg" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5C" />
            </desktop5:ItemType>
            <!-- Root remains inherited from Type="*". Only Extract is repeated
                 for archive associations, keeping both commands at one menu level. -->
            <desktop5:ItemType Type=".7z">
              <desktop5:Verb Id="ZinniaExtract7z" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".zip">
              <desktop5:Verb Id="ZinniaExtractZip" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".tar">
              <desktop5:Verb Id="ZinniaExtractTar" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".gz">
              <desktop5:Verb Id="ZinniaExtractGz" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".tgz">
              <desktop5:Verb Id="ZinniaExtractTgz" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".bz2">
              <desktop5:Verb Id="ZinniaExtractBz2" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".tbz2">
              <desktop5:Verb Id="ZinniaExtractTbz2" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".xz">
              <desktop5:Verb Id="ZinniaExtractXz" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".txz">
              <desktop5:Verb Id="ZinniaExtractTxz" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".001">
              <desktop5:Verb Id="ZinniaExtractSplit" Clsid="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="Zinnia">
              <com:Class Id="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5C" Path="zinnia_shell.dll" ThreadingModel="STA" />
              <com:Class Id="B7E2A91C-6D4F-4A3E-9C1B-8F0E2D3A4B5D" Path="zinnia_shell.dll" ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
